---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { items } from '../data/items';

---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to start view transition test in Astro.</h1>
		<ul role="list" class="link-card-grid">
			{items.map(({ id, description, image, title }) => (
				<Card
					id={id}
					href={`/${id}`}
					title={title}
					body={description.slice(0, 50)}
					image={image}
				/>
			))}
		</ul>
	</main>
</Layout>

<style>
	.link-card-grid {
		display: flex;
		flex-direction: column;
		width: fit-content;
		align-items: center;
		justify-content: center;
		margin: auto;
		gap: 30px;
	}
	h1 {
		text-align: center;
	}
</style>